<div>

<h2>{{fc.task.name}}</h2>

   <div ng-if="fc.opis" class="col-sm-offset-3 col-sm-6" style="margin-top: 50px;">
      <p>{{fc.opis}}</p>
   </div>

   <div ng-if="fc.vreme_odbrane"  class="col-sm-offset-3 col-sm-6" style="margin-top: 50px;">
      <p><b>Mesto odbrane:</b> &nbsp; &nbsp;{{fc.mesto_odbrane}}</p>
      <p><b>Vreme odbrane:</b> &nbsp; &nbsp;{{fc.vreme_odbrane | date:"medium"}} </p> 
   </div>

   <form class="col-sm-offset-3 col-sm-6" style="margin-top: 50px;">
      <div class="row" style="margin-bottom: 40px;">
         <label ng-if="fc.taskName == 'Odobravanje komisije' || fc.taskName == 'Potvrdi komisiju'" class="col-sm-3">Komisija: </label>
         <label ng-repeat="clan in fc.komisija track by $index" class="col-sm-offset-3 col-sm-9">{{clan}}</label>
   	</div>
      	<div class="form-group row" ng-repeat="property in fc.form.formProperties track by $index">
            <!-- TEXT FIELD -->
            <label for="{{property.id}}" class="col-sm-3" ng-if="property.type == 'string'" >{{property.name}}</label>
   			<div class="col-sm-9" ng-if="property.type == 'string'">
   				<input  class="form-control" type="text" name="{{property.id}}" id="{{property.id}}" ng-model="fc.formData[property.id]" ng-init="fc.formData[property.id]=''">   
   			</div>
            <!-- CHECK BOX -->
            <label for="{{property.id}}" class="col-sm-7" ng-if="property.type == 'boolean'">{{property.name}}</label>
            <input ng-if="property.type == 'boolean'" type="checkbox" name="{{property.id}}" id="{{property.id}}" ng-model="fc.formData[property.id]" ng-init="fc.formData[property.id]=false" style="width: 20px; height: 20px; position: relative; top: -5px;">		
            <!--- INTEGER -->
            <label for="{{property.id}}" class="col-sm-3" ng-if="property.type == 'long'" >{{property.name}}</label>
            <div class="col-sm-3" ng-if="property.type == 'long'">
               <input class="form-control" type="number" name="{{property.id}}" id="{{property.id}}" ng-model="fc.formData[property.id]" ng-init="fc.formData[property.id]=5" min="5" max="10">   
            </div>
            <!-- DATE -->
            <label for="{{property.id}}" class="col-sm-3" ng-if="property.type == 'date'" >{{property.name}}</label>
            <div class="col-sm-9" ng-if="property.type == 'date'">
               <input class="form-control" type="datetime-local" name="{{property.id}}" id="{{property.id}}" ng-model="fc.formData[property.id]" min='{{fc.minDate | date: "yyyy-MM-ddTHH:mm:ss"}}' >   
            </div>

   		</div>

         <!-- SPECIAL CASES -->
         <div ng-if="fc.state == 1">
            <div class="form-group row">
               <label class="col-sm-3">Član 1 (Šef)</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['clan1_komisija1']"></select>
                  </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-3">Član 2</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['clan2_komisija1']"></select>
                  </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-3">Član 3</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['clan3_komisija1']"></select>
                  </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-3">Član 4</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['clan4_komisija1']"></select>
                  </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-3">Član 5</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.others" ng-model="fc.formData['clan5_komisija1']"></select>
                  </div>
   		    </div>
         </div>

         <div ng-if="fc.state == 2">
            <div class="form-group row">  
               <label for="prihvacen_izvestaj1" class="col-sm-7">Prihvacen izvestaj</label>
               <input type="checkbox" name="prihvacen_izvestaj1" id="prihvacen_izvestaj1" ng-model="fc.formData['prihvacen_izvestaj1']" ng-init="fc.formData['prihvacen_izvestaj1']=false" style="width: 20px; height: 20px; position: relative; top: -5px;">
            </div>

            <div class="form-group row">
               <label class="col-sm-3">Mentor</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['mentor']"></select>
                  </div>
            </div>
         </div>

         <div ng-if="fc.state == 3">
            <div class="form-group row">
               <label class="col-sm-3">Član 1 (Šef)</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['clan1_komisija2']"></select>
                  </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-3">Član 2</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['clan2_komisija2']"></select>
                  </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-3">Član 3</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['clan3_komisija2']"></select>
                  </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-3">Član 4</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.ftn" ng-model="fc.formData['clan4_komisija2']"></select>
                  </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-3">Član 5</label>
               <div class="col-sm-9">
                  <select class="form-control" ng-options="profesor.id as profesor.lastName for profesor in fc.others" ng-model="fc.formData['clan5_komisija2']"></select>
                  </div>
             </div>
         </div>

   		<button type="submit" class="col-sm-offset-11 btn btn-primary" ng-click="fc.processData()" style="margin-top: 30px;">Potvrdi</button>
   </form>

   

</div>