<nav ng-show="rc.currentUser" class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FTN</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Početna strana</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="position: relative; right: 50px">
            <li ng-show="rc.currentUser"><a href><span class="glyphicon glyphicon-user"></span> &nbsp;{{rc.currentUser.id}}</a></li>
            <li ng-show="rc.currentUser"><a href ng-click="rc.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <ui-view></ui-view>
    </div>